
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>World's Roundest Pets</title>
  </head>
  <body>
    <nav>
      <h1>Round Pets of the World</h1>
      <a href="/pets">Index of Pets</a>
      |
      <a href="/pets/new">Add New Pet</a>
      <hr>
    </nav>

    <section>
      <%= yield %>

    </section>

    <footer>
      <hr>
      &copy; Round Boys Productions 2020
    </footer>

  </body>
</html>
