<h2>
  Welcome to the Funnies Page!!!!!
</h2>

<h3>
  <%= @title %>
</h3>

<!-- <img src="https://crystalbridges.org/wp-content/uploads/2015/11/poker_sympathy.jpg" alt="<%= @title %>"> -->
<!-- HOTLINKING! NAUGHTY! -->

<!-- <img src="/assets/dogs.jpg" alt="dogs"> -->

<!-- use a rails template helper to show this tag: -->
<%= image_tag 'dogs.jpg', alt: 'Dogs Smoking', id: 'joke', class: 'fun' %>
