<html>
<head>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>

  <h1>Student Greeter</h1>

  <p>
    Hello, <%= myData.person %>
    <br>
    You are <%= age %> years old.
  </p>

</body>
</html>
