
<h1>Add New Pet</h1>

<form action="/pets" method="post">

  <label>
    Name:
    <input type="text" name="name">
  </label>
  <br>

  <label>
    Species:
    <input type="text" name="species">
  </label>
  <br>

  <label>
    Description:
    <textarea name="description"></textarea>
  </label>
  <br>

  <label>
    Roundness:
    <input type="text" name="roundness">
  </label>
  <br>

  <label>
    Alive (1 for yes, 0 for no):
    <input type="text" name="alive">
  </label>
  <br>

  <label>
    Age:
    <input type="text" name="age">
  </label>
  <br>

  <label>
    Image URL:
    <input type="text" name="image_url">
  </label>
  <br>

  <input type="submit" value="Add Pet">

</form>
