
<h2>Let's Calculate!</h2>

<form action="/calc/submit">

  <label>
    First number
    <input type="text" name="first">
  </label>
  <br>

  <label>
    Operator
    <input type="text" name="op">
  </label>
  <br>

  <label>
    Second number
    <input type="text" name="second">
  </label>
  <br>

  <button>Calculate!</button>

</form>
