

<h2>ENTER YOUR CALCULATION</h2>

<form action="/calc/result">

  <label>
    First number:
    <input type="text" name="firstnum">
  </label>
  <br>
  <label>
    Operator:
    <input type="text" name="operator">
  </label>
  <br>
  <label>
    Second number:
    <input type="text" name="secondnum">
  </label>
  <br>
  <button>Submit!</button>

</form>
