<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Calculatoooooorrr</title>
  </head>
  <body>
    <nav>
      <h1>Amazing Calculator App</h1>
      <hr>
    </nav>

    <!-- Insert the specific page content from the route handler here! i.e. if the last line of the route block is "erb :answer", load the answer.erb file and place its contents where this "yield" appears -->
    <%= yield %>

    <hr>
    <footer>
      &copy; Infernal Device Productions 2020
    </footer>

  </body>
</html>
