
<h2>
  Stock lookup results for
  "<%= params[:stock_code] %>"
</h2>

<p>
  <strong>Company name: </strong>
  <%= @stock.company_name %>
</p>
<p>
  <strong>Latest price: </strong>
  <%= @stock.latest_price %>
</p>
