
<h2>Look up a Stock by Code</h2>

<form action="/lookup">

  <label>
    Stock Code:
    <input type="text" name="stock_code">
  </label>

  <button>Lookup</button>

</form>

<br>

<img src="http://www.fillmurray.com/400/400" alt="">
