<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>STONKS!!!</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <nav>
      <h1>STONKS LOOKUP!</h1>
      <hr>
    </nav>

    <%= yield %>

    <footer>
      <hr>
      &copy; Finance Bro Productions 2020
    </footer>
  </body>
</html>
