<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Mood Ring!</title>
  </head>
  <body>

    <h2>
      Hello, <%= @student_name  %>,
      I hope you are <%= params[:mood] %>

    </h2>

  </body>
</html>
